:root {
    --color-primary: #ff6200;
    --color-primary-dark: #ff4400;
    --color-secondary: #525099;
    --color-secondary-dark: #42407c;
    --color-text-standart: #050a12;
    --color-background: #f8f8f8;
    --color-borders: #ada7a7;
    --color-silver: #aaaaaa;
    --color-white: #ffffff;
  }
  